<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
     <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body>
  <div>
  <h1> Colm McSharry </h1>

  
    <p>Email: Colmmcsharry@hotmail.com</p>
    <p>Phone: 604 704 8019</p>
    <img src="civic/img/moi.jpg" alt="">
        <img src="https://pbs.twimg.com/profile_images/1009685739821395968/1JrY5bb7_400x400.jpg" alt="">
 
 <br>

  	<h2>Professional Experience</h2>
    <br>

  	<h3>Business Location Specialist - Arrowsmith Trading</h3>

<p>A commision-based sales job making B2B calls looking for locations to place vending machines</p>

      <br><br>
  	
  <h3>Office Administration - Ricoh</h3>
  <h4>Primary responsibilities</h4>
  <ul>
    <li>Setting up new employees with hardware and software to ensure smooth integration into the worplace</li>
    <li>Scanning and copying legal documents and carrying out quality inspection to ensure replicas were satisfactory</li>
    <li>Inspecting incoming/outgoing mail</li>
    <li>E-mail and fax correspondence with clients</li>

  </ul>   <br>

  <h3>English Language Teacher - Oxford House</h3>
  <h4>Primary responsibilities</h4>
 <ul>
<li>Devised and implemented detailed daily, weekly, and monthly lesson plans</li>

<li> Used administrative skills to keep track of student attendance, grades and class schedule</li>

<li> Employed creative and interpersonal skills to keep classes innovative, stimulating and effective</li>

<li> Organised and supervised group excursions</li>

<li> Prepared students for external IELTS / TIE / Cambridge exams</li>

<li> Supported the reception team with syllabus creation, CPD sessions and regular data entry</li>

</ul>
<h3>Other skills</h3>

<h3>Hobbies and Interestes</h3>
  </body>
</html>
